body {
  font-family: 'Montserrat', sans-serif;
  background: #F6F6F6;
}

a {
  color: #E95106;
}

a:hover {
  text-decoration: none;
  color: #E99206;
}

.text-orange {
  color: #E95106;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1470px !important;
  }
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px 3px 36px #00000010;
          box-shadow: 0px 3px 36px #00000010;
  padding: 13px 15px;
}

@media (min-width: 768px) {
  .header {
    height: 98px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 105px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}

.shadow-box {
  -webkit-box-shadow: 0px 3px 6px #0000000F;
          box-shadow: 0px 3px 6px #0000000F;
  background: #fff;
  padding: 26px;
  border-radius: 10px;
}

.desktop-shadow-box {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

@media (min-width: 576px) {
  .desktop-shadow-box {
    -webkit-box-shadow: 0px 3px 6px #0000000F;
            box-shadow: 0px 3px 6px #0000000F;
    background: #fff;
    padding: 26px;
    border-radius: 10px;
  }
}

.h-100 {
  height: 100%;
}

.profile-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  -webkit-box-shadow: 0px 0px 12px #00000014;
          box-shadow: 0px 0px 12px #00000014;
}

.profile-box .profile-name {
  font-size: 18px;
  font-weight: 500;
}

.profile-picture {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 13px;
}

.profile-picture img {
  width: 100%;
}

.available-balance {
  color: #707070;
  font-size: 16px;
}

@media (min-width: 960px) {
  .available-balance {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .available-balance {
    font-size: 16px;
  }
}

.available-balance strong {
  font-size: 18px;
  color: #E14E0E;
}

@media (min-width: 992px) {
  .available-balance strong {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .available-balance strong {
    font-size: 22px;
  }
}

.logo {
  width: 122px;
}

@media (min-width: 576px) {
  .logo {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 150px;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 200px;
  }
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
}

.main-content {
  padding: 15px;
  /*  */
}

@media (min-width: 1200px) {
  .main-content {
    padding: 30px;
    padding-top: 130px;
  }
}

.profile-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 70px;
  top: 15px;
}

.profile-link {
  background: #ccc;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  overflow: hidden;
  display: none;
}

@media (min-width: 768px) {
  .profile-link {
    display: block;
    top: 11px;
  }
}

.profile-link img {
  width: 100%;
}

/* ---------------------------- Titles -----------------------------*/
h1 {
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 19px;
  }
}

h1.center {
  text-align: center;
  font-size: 19px;
}

h2 {
  font-size: 17px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-size: 14px;
}

@media (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/
/* font-family: 'Montserrat', sans-serif; */
.bigger-text {
  font-size: 33px;
  color: #E14E0E;
}

.border-bottom {
  border-bottom: 2px solid #DEDEDE !important;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.sidebar-box {
  background: #fff;
  border: solid 1px #D8D8D8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.commission-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.commission-list li {
  border-bottom: 1px solid #D9D9D9;
  padding: 8px 0;
  overflow: hidden;
}

.commission-list li .name {
  float: left;
  width: 80%;
}

.commission-list li .percent {
  float: right;
  width: 20%;
}

@media (min-width: 768px) {
  .commission-list li .percent {
    text-align: right;
  }
}

.commission-list li:last-child {
  border-bottom: none;
}

/* ---------- REFERIDOS -----------*/
.referred-person {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 6px #0000000F;
          box-shadow: 0px 3px 6px #0000000F;
  position: relative;
  z-index: 5;
}

.referred-person .referred-person-info {
  text-align: center;
}

@media (min-width: 768px) {
  .referred-person .referred-person-info {
    text-align: left;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}

.referred-person.child {
  position: relative;
  margin-left: 15%;
  position: relative;
  z-index: 4;
}

.referred-person.child::before {
  content: "";
  width: 25px;
  height: 210px;
  position: absolute;
  left: -25px;
  top: -116px;
  z-index: 2;
  border-left: solid 3px #D9D9D9;
  border-bottom: solid 3px #D9D9D9;
}

.referred-person.child .referred-name {
  font-size: 13px;
}

.referred-person.grandson {
  position: relative;
  margin-left: 25%;
  position: relative;
  z-index: 3;
}

.referred-person.grandson::before {
  content: "";
  width: 16px;
  height: 155px;
  position: absolute;
  left: -16px;
  top: -54px;
  z-index: 2;
  border-left: solid 3px #D9D9D9;
  border-bottom: solid 3px #D9D9D9;
}

.referred-person.grandson .referred-name {
  font-size: 13px;
}

.referred-name {
  font-weight: bold;
  color: #585858;
}

.referred-raffle-history,
.referral-date {
  font-size: 13px;
}

@media (min-width: 1200px) {
  .referral-date {
    font-size: 13px;
    position: absolute;
    right: 65px;
    top: 45%;
  }
}

.referred-picture {
  width: 93px;
  height: 93px;
  background: #ccc;
  border-radius: 50%;
  border: solid 3px #E8E8E8;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .referred-picture {
    margin: 0;
    margin-right: 20px;
  }
}

.referred-picture span {
  border: solid 2px #fff;
  display: block;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  overflow: hidden;
}

.referred-picture span img {
  width: 100%;
}

/* ---------- REFERIDOS -----------*/
.opportunity-bought {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 6px #0000000F;
          box-shadow: 0px 3px 6px #0000000F;
  position: relative;
  z-index: 5;
}

.opportunity-bought .opportunity-points {
  font-weight: bold;
  margin-top: 10px;
  color: #E14E0E;
}

@media (min-width: 768px) {
  .opportunity-bought .opportunity-points {
    margin-top: 0;
  }
}

.opportunity-bought h3 {
  margin: 0;
  font-size: 15px;
}

@media (min-width: 768px) {
  .opportunity-bought h3 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .opportunity-bought .opportunity-info {
    text-align: left;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}

.opportunity-bought .referred-raffle-history {
  font-size: 13px;
}

.opportunity-bought .opportunity-bought-date {
  font-size: 15px;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .opportunity-bought .opportunity-bought-date {
    font-size: 15px;
    position: absolute;
    right: 25px;
    top: 45%;
    margin-top: 0;
  }
}

.opportunity-picture {
  width: 116px;
  height: 93px;
}

@media (min-width: 768px) {
  .opportunity-picture {
    margin: 0;
    margin-right: 20px;
  }
}

.opportunity-picture span {
  border: solid 2px #fff;
  display: block;
  width: 116px;
  height: 87px;
  border-radius: 9px;
  overflow: hidden;
}

.opportunity-picture span img {
  width: 100%;
}

.show-hide-icon {
  width: 29px;
  height: 29px;
  background: url("../img/plus-icon.svg") no-repeat center center;
  background-size: 21px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.show-hide-icon.open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 992px) {
  .show-hide-icon {
    top: 55px;
    background-size: 25px;
  }
}

.welcome-guest {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 6px #0000000f;
  box-shadow: 0px 3px 6px #0000000f;
  position: relative;
  text-align: center;
  padding: 30px 20px;
  margin: 0 auto;
  width: 539px;
}

.welcome-guest .btn-primary {
  padding: 8px 32px;
}

.welcome-guest h4 {
  margin-bottom: 0;
}

.welcome-guest .referred-picture {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

footer {
  font-size: 13px;
  text-align: center;
}

@media (min-width: 992px) {
  footer {
    font-size: 14px;
    text-align: left;
  }
}

.hide-on-tablets {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-tablets {
    display: block;
  }
}

@media (min-width: 992px) {
  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 992px) {
  .hide-on-mobile {
    display: none;
  }
}

.filters-wrapper h3 {
  font-size: 15px;
}

.shadow-box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 6px #0000000f;
  box-shadow: 0px 3px 6px #0000000f;
  position: relative;
  z-index: 5;
}

.single-go-back {
  margin: 15px 15px 20px 0;
  float: left;
  margin-top: -20px;
}

.back-and-next {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.back-and-next .go-back {
  float: left;
  padding: 18px;
}

.back-and-next .go-next {
  float: right;
  padding: 18px;
}

.gray-bg {
  background: #F8F8FA;
}

.radius-10 {
  border-radius: 10px;
}

.btn.pusha-panel__close {
  z-index: 9;
  position: absolute;
  right: 20px;
  background: transparent;
}

.btn.pusha-panel__close .icon-close-icon {
  font-size: 24px;
  color: #fff;
}

.menu-link {
  width: 66px;
  height: 70px;
  position: absolute;
  right: 0;
  top: -59px;
  text-align: center;
  padding-top: 23px;
  font-size: 22px;
}

@media (min-width: 576px) {
  .menu-link {
    top: -68px;
  }
}

@media (min-width: 768px) {
  .menu-link {
    top: -3px;
  }
}

.menu-link .icon-main-menu-icon {
  font-size: 19;
  color: #838383;
}

/* --------------- Mobile Menu --------------------- */
.mobile-menu {
  background: #EB7B09;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding: 30px;
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.mobile-menu .close-menu {
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 1;
  right: 27px;
  top: 23px;
  text-align: right;
  font-size: 22px;
  opacity: 0.8;
}

.mobile-menu .mobile-menu-header {
  border-bottom: 3px solid #FE9B36;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.mobile-menu .mobile-menu-header .profile-picture {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  border: solid 4px #FE9B36;
  position: absolute;
  top: 15px;
  overflow: hidden;
}

.mobile-menu .mobile-menu-header .profile-picture img {
  width: 100%;
}

.mobile-menu .mobile-menu-header .profile-name {
  font-size: 21px;
  font-weight: 600;
  padding-left: 94px;
}

.mobile-menu .mobile-menu-header .profile-edit-link {
  padding-left: 94px;
  font-size: 12px;
  padding-top: 4px;
  color: #fff;
}

.mobile-menu .mobile-menu-header .profile-edit-link span {
  margin: 5px;
}

.mobile-menu .mobile-menu-links {
  border-bottom: 3px solid #FE9B36;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.mobile-menu .mobile-menu-balance {
  text-align: center;
}

.mobile-menu .mobile-menu-balance .available-balance {
  font-size: 14px;
  margin-bottom: 15px;
  color: #fff;
}

.mobile-menu .mobile-menu-balance .available-balance strong {
  font-size: 20px;
  color: #fff;
}

.mobile-menu .mobile-menu-balance button.btn-white {
  font-size: 15px;
  color: #EB7B09;
  background: #fff;
  -webkit-box-shadow: 0px 0px 16px #00000029;
          box-shadow: 0px 0px 16px #00000029;
  border: none;
}

.mobile-menu .mobile-menu-balance button.btn-white span::before {
  font-size: 19px;
  margin: 7px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
}

.mobile-menu ul li a {
  color: #fff;
}

.mobile-menu ul li a span {
  margin: 8px 8px 4px 0;
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  font-weight: 500;
  font-size: 22px;
}

@media (max-width: 768px) {
  .pusha-panel--right.pusha-panel--active ~ .pusha-blocker, .pusha-panel--right.pusha-panel--active ~ .pusha-push, .pusha-panel--right.pusha-panel--active ~ .pusha-wrapper {
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
  }
  .pusha-panel--right {
    width: 100% !important;
  }
}

.buttons-menu {
  list-style: none;
  padding: 0;
  margin-top: 17px;
}

.buttons-menu a {
  display: block;
  padding: 11px 17px 9px 17px;
  border-radius: 7px;
  margin-bottom: 8px;
  background: #fff;
  border: solid 1px #D8D8D8;
  margin-right: 20px;
  color: #3E3E3E;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.buttons-menu a:hover {
  background: #F1D4C7;
  border: solid 1px #F4976F;
  color: #E14E0E;
}

.buttons-menu a.active {
  background: #E14E0E;
  border: solid 1px #E14E0E;
  color: #fff;
}

.category-menu {
  list-style: none;
  padding: 0;
  display: -webkit-inline-box;
}

.category-menu a {
  padding-right: 20px;
  color: #535353;
}

.category-menu a.selected {
  color: #E95106;
}

/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
*/
/* --------------- Product Item -------------------- */
/*  transition: all 0.2s ease; */
.product-description {
  padding: 0;
}

@media (min-width: 576px) {
  .product-description {
    padding: 20px;
    padding-bottom: 12px;
    min-height: 153px;
  }
}

@media (min-width: 768px) {
  .product-description {
    min-height: 179px;
  }
}

.product-description p {
  display: none;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .product-description p {
    display: block;
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .product-description p {
    font-size: 14px;
  }
}

.remaining-tickets {
  border-top: solid 1px #EAEAEA;
  text-align: center;
  padding: 9px;
  font-size: 13px;
  display: none;
  color: #E14E0E;
}

@media (min-width: 576px) {
  .remaining-tickets {
    display: block;
  }
}

@media (min-width: 992px) {
  .remaining-tickets {
    font-size: 15px;
  }
}

.apply-now {
  display: none;
  background: #E14E0E;
  color: #fff;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  font-weight: 500;
}

.apply-now:hover {
  color: #fff;
}

@media (min-width: 576px) {
  .apply-now {
    display: block;
  }
}

@media (min-width: 768px) {
  .apply-now {
    font-size: 17px;
    padding: 11px;
  }
}

/*---------------- Grid Layout ----------------------*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(137px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
  grid-gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 422px) {
  .grid {
    -ms-grid-columns: (minmax(107px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(107px, 1fr));
  }
}

@media (min-width: 487px) {
  .grid {
    -ms-grid-columns: (minmax(203px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
  }
}

@media (min-width: 992px) {
  .grid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
  }
}

@media (min-width: 1200px) {
  .grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 1201px) and (max-width: 1399px) {
  .grid {
    -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}

@media (min-width: 1400px) {
  .grid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.grid > article img {
  max-width: 100%;
}

.product-item {
  position: relative;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  color: #585858;
}

@media (min-width: 576px) {
  .product-item {
    border-radius: 19px;
    -webkit-box-shadow: 0px 3px 16px #00000008;
            box-shadow: 0px 3px 16px #00000008;
  }
}

.product-progress {
  background: #F0F0F0;
  padding: 9px 15px;
  text-align: center;
  color: #E14E0E;
  font-size: 11px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (min-width: 576px) {
  .product-progress {
    font-size: 17px;
    padding: 15px;
    background: #F9F9F9;
  }
}

.product-progress strong {
  font-size: 14px;
}

@media (min-width: 576px) {
  .product-progress strong {
    font-size: 19px;
  }
}

.product-name {
  font-weight: bold;
  font-size: 13px;
  margin-top: 7px;
}

@media (min-width: 576px) {
  .product-name {
    font-size: 14px;
    margin-top: 0;
  }
}

.main-content.full-width .col-lg-3.hide-on-tablets {
  display: none;
}

.main-content.full-width .opportunities-list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  /* transition: all 0.2s ease-in-out;*/
}

.share-btn {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 15px;
  right: 20px;
  border-radius: 8px;
  background: #E14E0E url("../img/share-icon.svg") no-repeat center center;
  border: none;
  text-indent: -9999999px;
  cursor: pointer;
}

.share-btn:focus {
  outline: none;
  outline: none;
}

.buy-opportunities {
  margin-bottom: 30px;
}

.buy-opportunities .form-group {
  margin-bottom: 0;
}

.buy-opportunities .form-control {
  display: block;
  height: 62px !important;
  width: 70px;
  margin-right: 20px;
}

.product-sub-header {
  height: 250px;
  margin-bottom: 60px;
  position: relative;
  /*overflow: hidden; */
}

.filter-toggle {
  position: fixed;
  left: -70px;
  width: 70px;
  height: 60px;
  z-index: 80;
  text-indent: -999999px;
  border-radius: 7px;
  background-size: 108px;
  background: #E14E0E url(../img/filter-icon.svg) no-repeat 22px center;
  background-size: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-content.full-width .filter-toggle {
  left: -10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-specs {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  position: absolute;
  top: 180px;
  left: 0;
  bottom: 0;
  right: 0;
}

.product-specs .box {
  font-size: 13px;
  padding: 0 9px;
  width: 50%;
  text-align: center;
}

.product-specs .box strong {
  display: block;
  font-size: 25px;
  color: #E95106;
}

.product-specs .box.b {
  border-left: solid 2px #D0D0D0;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .product-specs {
    max-width: 720px !important;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .product-specs {
    max-width: 540px;
    margin: 0 auto;
  }
}

.back-and-next {
  display: none;
}

.product-picture {
  overflow: hidden;
  height: 250px;
}

.product-picture img {
  width: 100%;
}

.no-padding {
  padding: 0;
}

/* --------------- Forms --------------------------- */
.form-control {
  border-radius: 8px;
  line-height: 2.2;
}

@media (min-width: 576px) {
  .form-control {
    line-height: 2.5;
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary {
  color: #fff;
  background-color: #E95106;
  border-color: #E95106;
  line-height: 2.2;
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary:hover {
  background: #E97706;
  border-color: #E97706;
}

.btn-primary.w-100 {
  width: 100%;
}

@media (min-width: 576px) {
  .btn-primary {
    font-size: 18px;
  }
}

.w-300 {
  width: 300px;
}

.btn-outline-primary {
  color: #E95106;
  border: solid 2px #E95106;
  background-color: transparent;
  border-color: #E95106;
  line-height: 2.2;
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-outline-primary:hover {
  background: transparent;
  border-color: #E97706;
}

.btn-outline-primary.w-100 {
  width: 100%;
}

@media (min-width: 576px) {
  .btn-outline-primary {
    font-size: 18px;
  }
}

label {
  font-weight: 500;
  margin-bottom: .2rem;
}

.btn.focus, .btn:focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.opportunity-buying .label {
  font-size: 14px;
}

@media (min-width: 576px) {
  .opportunity-buying .label {
    font-size: 16px;
  }
}

.opportunity-buying select.form-control.opportunity-select:not([size]):not([multiple]) {
  width: 60px;
}

@media (min-width: 576px) {
  .opportunity-buying select.form-control.opportunity-select:not([size]):not([multiple]) {
    width: 80px;
  }
}

select.form-control.opportunity-select:not([size]):not([multiple]) {
  height: 48px;
  width: 100px;
  float: right;
}

.filters-wrapper {
  display: none;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .filters-wrapper {
    display: block;
  }
}

@media (min-width: 1200px) {
  .filters-wrapper {
    /*position: fixed;*/
  }
}

.filters-wrapper li {
  margin-bottom: 8px;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 0;
  cursor: pointer;
  line-height: 30px;
  display: inline-block;
  color: #666;
  background: #fff;
  width: 100%;
  padding: 8px 16px;
  border: solid 1px #D8D8D8;
  border-radius: 8px;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  right: 9px;
  top: 9px;
  width: 28px;
  height: 28px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 6px;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #EB7B09;
  position: absolute;
  top: 15px;
  border-radius: 4px;
  right: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.filters-wrapper label {
  font-size: 13px;
}

@media (min-width: 1200px) {
  .filters-wrapper label {
    font-size: 15px;
  }
}

.hide-filter {
  float: right;
  color: #E14E0E;
  font-size: 14px;
}

.communication-text {
  display: block;
  font-size: 11px;
}

@media (min-width: 1200px) {
  .communication-text {
    display: inline;
    font-size: 15px;
    padding-left: 70px;
  }
}

.mobile-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
  margin-top: -12px;
}

.mobile-filter label {
  font-size: 14px;
  padding: 9px 7px 7px 0;
}

.mobile-filter select {
  width: 60%;
  margin-right: 3%;
  font-size: 13px;
}

@media (min-width: 576px) {
  .mobile-filter select {
    width: 72%;
  }
}

@media (min-width: 768px) {
  .mobile-filter select {
    width: 78%;
  }
}

.mobile-filter .filter-open {
  width: 38px;
  height: 38px;
  background: #EB7B09 url("../img/filter-icon.svg") no-repeat center center;
  border-radius: 6px;
}

@media (min-width: 992px) {
  .mobile-filter {
    display: none;
  }
}

.participating-modal .modal-header {
  margin-bottom: -40px;
  border-bottom: none;
  z-index: 1;
}

.btn-ok {
  margin: 0 auto;
  background: transparent;
  font-size: 23px;
  color: #E14E0E;
  font-weight: 600;
}

button:focus {
  outline: none;
  outline: none;
}

.modal-content {
  border: none;
  border-radius: 15px;
}

.picture img {
  width: 100%;
}

/*---------- Debuggind Styles ---------------*/
.d1 {
  background: lightblue;
}

.d2 {
  background: lightgrey;
}

.d3 {
  background: lightskyblue;
}

.d4 {
  background: lightsalmon;
}

.d5 {
  background: lightpink;
}

.header {
  position: fixed;
  top: 0;
}

.header {
  position: relative;
}

@media (min-width: 1200px) {
  .main-content {
    padding: 30px;
    padding-top: 40px;
  }
}

.btn.pusha-panel__close {
  position: absolute;
  right: 20px;
  background: transparent;
}

.icon-close-icon {
  font-size: 24px;
  color: #808080;
  font-weight: bold;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
}

.main-nav {
  padding: 40px 20px 20px 20px;
}

.main-nav a {
  border-bottom: solid 1px #E6E6E6;
  padding-bottom: 14px;
  display: block;
  padding-top: 14px;
  color: #E14E0E;
  font-size: 17px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */