@import "scss/pages/layout";
@import "scss/modules/nav";
@import "scss/modules/product-items";
@import "scss/modules/forms";
@import "scss/modules/other";


/*---------- Debuggind Styles ---------------*/
.d1 { background: lightblue;}
.d2 { background: lightgrey;}
.d3 { background: lightskyblue;}
.d4 { background: lightsalmon;}
.d5 { background: lightpink;}



.header {
    position: fixed;
    top: 0;
}

.header {
    position: relative;
}

@media (min-width: 1200px) {
    .main-content {
        padding: 30px;
        padding-top: 40px;
    }
}

.btn.pusha-panel__close {
    position: absolute;
    right: 20px;
    background: transparent;
}


.icon-close-icon {
    font-size: 24px;
    color: #808080;
    font-weight: bold;
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

.main-nav {
    padding: 40px 20px 20px 20px;
    a {
        border-bottom: solid 1px #E6E6E6;
        padding-bottom: 14px;
        display: block;
        padding-top: 14px;
        color: #E14E0E;
        font-size: 17px;
        font-weight: 500;
    }
}
