/* --------------- Forms --------------------------- */
.form-control {
    border-radius: 8px;
    line-height: 2.2;
    @media (min-width: 576px) {
        line-height: 2.5;
    }  
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 8px;
}
.btn-primary {
    color: #fff;
    background-color: #E95106;
    border-color: #E95106;
    line-height: 2.2;
    font-size: 16px;
    
    font-weight: 500;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
        background: #E97706;
        border-color: #E97706;
    }
    &.w-100  {
        width: 100%;
    }
    @media (min-width: 576px) {
        font-size: 18px;
    } 
}
.w-300 {
    width: 300px;
}

.btn-outline-primary {
    color: #E95106;
    border: solid 2px #E95106;
    background-color: transparent;
    border-color: #E95106;
    line-height: 2.2;
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
        background: transparent;
        border-color: #E97706;
    }
    &.w-100  {
        width: 100%;
    }
    @media (min-width: 576px) {
        font-size: 18px;
    } 
}


label {
    font-weight: 500;
    margin-bottom: .2rem;
}
.btn.focus, .btn:focus, .form-control:focus {
    outline: 0;
    box-shadow: none !important;
}

.opportunity-buying {
    .label {
        font-size: 14px;
        @media (min-width: 576px){
            font-size: 16px;
        }
    }
    select.form-control.opportunity-select:not([size]):not([multiple]) {
        width: 60px;
        @media (min-width: 576px){
            width: 80px;
        }
    }
}

select.form-control.opportunity-select:not([size]):not([multiple]) {
    height: 48px;
    width: 100px;
    float: right;
}


