.filters-wrapper {
    display: none;
    padding-right: 30px;
    @media (min-width: 768px){      
        display: block
    }
    @media (min-width: 1200px){      
        /*position: fixed;*/
    }
}

.filters-wrapper {
    li {
        margin-bottom: 8px;
    }
}

.clear-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 0;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
    background: #fff;
    width: 100%;
    padding: 8px 16px;
    border: solid 1px #D8D8D8;
    border-radius: 8px;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    right: 9px;
    top: 9px;
    width: 28px;
    height: 28px;
    border: 2px solid #ddd;
    background: #fff;
    border-radius: 6px;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #EB7B09;
    position: absolute;
    top: 15px;
    border-radius: 4px;
    right: 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.filters-wrapper label{
    font-size: 13px;
    @media (min-width: 1200px){
        font-size: 15px;
    }
}

.hide-filter{
    float: right;
    color: #E14E0E;
    font-size: 14px;
  }
.communication-text {
    display: block;
    font-size: 11px;
    @media (min-width: 1200px) {
        display: inline;
        font-size: 15px;
        padding-left: 70px;
    }
}

.mobile-filter {
    display: flex;
    margin-bottom: 23px;
    margin-top: -12px;
    label {
        font-size: 14px;
        padding: 9px 7px 7px 0;
    }
    select {
        width: 60%;
        margin-right: 3%;
        font-size: 13px;
        @media (min-width: 576px) {
            width: 72%;
        }
        @media (min-width: 768px) {
            width: 78%;
        }
    }
    .filter-open {
        width: 38px;
        height: 38px;
        background: #EB7B09 url("../img/filter-icon.svg") no-repeat center center;
        border-radius: 6px;
    }
    @media (min-width: 992px) {
        display: none;
    }
}


.participating-modal {
    .modal-header {
        margin-bottom: -40px;
        border-bottom: none;
        z-index: 1; 
    }
}

.btn-ok{
    margin: 0 auto;
    background: transparent;
    font-size: 23px;
    color: #E14E0E;
    font-weight: 600;
}

button:focus {
    outline: none;
    outline: none;
}

.modal-content {
    border: none;
    border-radius: 15px;
}

.picture img{
    width: 100%;
}
