
/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
*/

/* --------------- Product Item -------------------- */

/*  transition: all 0.2s ease; */

.product-description {
  padding: 0;
  @media (min-width: 576px) {
    padding: 20px;
    padding-bottom: 12px;
    min-height: 153px; 
  }

  @media (min-width: 768px) {
    min-height: 179px; 
  }
  

  p {
    display: none;
    margin-bottom: 0;
    @media (min-width: 576px) {
      display: block;
      font-size: 13px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
}

.remaining-tickets {
  border-top: solid 1px #EAEAEA;
  text-align: center;
  padding: 9px;
  font-size: 13px;
  display: none;
  color: #E14E0E;

  @media (min-width: 576px) {
    display: block;
  }
  @media (min-width: 992px) {
    font-size: 15px;
  }
}

.apply-now {
  display: none;
  background: #E14E0E;
  color: #fff;
  text-align: center;
  padding: 7px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    color: #fff;
  }

  @media (min-width: 576px) {
    display: block;
  }
  @media (min-width: 768px) {
    font-size: 17px;
    padding: 11px;
  }
}

/*---------------- Grid Layout ----------------------*/

.grid {        
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
    grid-gap: 20px;
    align-items: stretch;

    @media (max-width: 422px){ 
      grid-template-columns: repeat(auto-fill, minmax(107px, 1fr));
    }
    @media (min-width: 487px){ 
      grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
    }
    @media (min-width: 992px){   
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 30px;
    }
    @media (min-width: 1200px){   
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (min-width: 1201px) and (max-width: 1399px){   
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
    @media (min-width: 1400px){   
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    
    > article img {
      max-width: 100%;
    }
  }

.product-item {
  position: relative;
  border-radius: 10px;
  @media (min-width: 576px) {
    border-radius: 19px;
    box-shadow: 0px 3px 16px #00000008;
  }
  background: #fff;
  overflow: hidden;
  color: #585858;
}

.product-progress {
  background: #F0F0F0;
  padding: 9px 15px;
  text-align: center;
  color: #E14E0E;
  font-size: 11px;

  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (min-width: 576px) {
    font-size: 17px;
    padding: 15px;
    background: #F9F9F9;
  }
  
  strong {
    font-size: 14px;
    @media (min-width: 576px) {
      font-size: 19px;;
    }
  }
}

.product-name {
  font-weight: bold;
  font-size: 13px;
  margin-top: 7px;
  @media (min-width: 576px) {
    font-size: 14px;
    margin-top: 0;
  }
}

.main-content.full-width {
  .col-lg-3.hide-on-tablets {
    display: none;
  }

  .opportunities-list {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
   /* transition: all 0.2s ease-in-out;*/
  }
}

.share-btn {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 15px;
  right: 20px;
  border-radius: 8px; 
  background:#E14E0E url("../img/share-icon.svg") no-repeat center center;
  border: none; 
  text-indent: -9999999px;
  &:focus {
    outline: none;
    outline: none;
  }
  cursor: pointer;
}

.buy-opportunities {
  margin-bottom: 30px;
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    display: block;
    height: 62px !important;
    width: 70px;
    margin-right: 20px;
  }
}


.product-sub-header {
  height: 250px;
  margin-bottom: 60px;
  position: relative;
  /*overflow: hidden; */
}


.filter-toggle {
  position: fixed;
  left: -70px;
  width: 70px;
  height: 60px;
  z-index: 80;
  text-indent: -999999px;
  border-radius: 7px;
  background-size: 108px;
  background: #E14E0E url(../img/filter-icon.svg) no-repeat 22px center;
  background-size: 36px;
  transition: all 0.3s ease-in-out;
}

.main-content.full-width {
  .filter-toggle {
    left: -10px;
    transition: all 0.3s ease-in-out;
  }
}


.product-specs{
  max-width: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  position: absolute;
  top: 180px;
  left: 0;
  bottom: 0;
  right: 0;

  .box {
    font-size: 13px;
    padding: 0 9px ;
    width: 50%;
    text-align: center;
    strong {
      display: block;
      font-size: 25px;
      color: #E95106;
    }
  }
  .box.b {
    border-left: solid 2px #D0D0D0;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .product-specs{
      max-width: 720px !important;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
  }
}

@media (min-width: 576px){
  .product-specs{
      max-width: 540px;
      margin: 0 auto;
  }
}


.back-and-next  {
  display: none;
}

.product-picture {
  overflow: hidden;
  height: 250px;
  img {
    width: 100%;
  }
}

.no-padding {
  padding: 0;
}