@import "scss/pages/layout";
@import "scss/pages/login";
@import "scss/modules/nav";
@import "scss/modules/forms";



.d1 { background: lightblue;}
.d2 { background: lightgrey;}
.d3 { background: lightskyblue;}
.d4 { background: lightsalmon;}
.d5 { background: lightpink;}


