body {
  font-family: 'Montserrat', sans-serif;
  background: #F6F6F6;
}

a {
  color: #E95106;
}

a:hover {
  text-decoration: none;
  color: #E99206;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1470px !important;
  }
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px 3px 36px #00000010;
          box-shadow: 0px 3px 36px #00000010;
  padding: 13px 15px;
  /*13px 30px */
}

.logo {
  width: 122px;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
}

.main-content {
  padding: 15px;
  /* padding: 30px;  */
}

.profile-link {
  background: #ccc;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  overflow: hidden;
  right: 100px;
  top: 0;
  display: none;
}

@media (min-width: 768px) {
  .profile-link {
    display: block;
  }
}

.profile-link img {
  width: 100%;
}

/* --------------- Titles -------------------------- */
h1 {
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

/* --------------- Product Item -------------------- */
.products-wrapper {
  margin-left: -8%;
  float: left;
}

@media (min-width: 992px) {
  .products-wrapper {
    margin-left: -30px;
  }
}

@media (min-width: 576px) {
  .products-wrapper {
    margin-left: -5%;
  }
}

@media (min-width: 992px) {
  .products-wrapper {
    margin-left: -3%;
  }
}

.product-item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 42%;
  float: left;
  margin: 15px 0 6px 8%;
  transition: all 0.2s ease;
}

@media (min-width: 576px) {
  .product-item {
    width: 28%;
    margin: 15px 0 6px 5%;
  }
}

@media (min-width: 768px) {
  .product-item {
    background: lightgreen;
    width: 144px;
    /* 151  colocar esto cuando existan 2 columnas */
  }
}

@media (min-width: 992px) {
  .product-item {
    width: 22%;
    margin: 15px 0 15px 3%;
    background: pink;
  }
}

@media (min-width: 1200px) {
  .product-item {
    width: 210px;
    margin: 15px 0 15px 30px;
    background: lightcyan;
  }
}

.product-item .product-item-picture {
  width: 100%;
  padding-top: 90%;
  border-radius: 10px;
  background: #ccc;
  margin-bottom: 10px;
}

.product-item .product-item-name {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.product-item .product-item-progress {
  font-size: 14px;
  color: #E14E0E;
}

/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/
/* font-family: 'Montserrat', sans-serif; */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid red;
  color: green;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

a {
  color: #E95106;
}

a:hover {
  text-decoration: none;
  color: #E99206;
}

/* --------------- Login --------------------------- */
.login-box {
  padding: 30px 0 0 0;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

@media (min-width: 576px) {
  .login-box {
    padding: 30px 0 0 0;
  }
}

@media (min-width: 576px) {
  .login-box {
    font-size: 15px;
  }
}

.login-box h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 17px;
}

@media (min-width: 576px) {
  .login-box h4 {
    font-size: 20px;
  }
}

.login-box .logo img {
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  .login-box .logo img {
    width: 220px;
  }
}

.login-box .or {
  text-align: center;
  border-bottom: solid 1px #D3D3D3;
  margin-bottom: 27px;
  height: 14px;
}

.login-box .or span {
  background: #fff;
  width: 30px;
  padding: 5px 10px;
}

.forgot-password {
  margin-top: -10px;
  display: block;
  margin-bottom: 15px;
}

.social-account-create .btn {
  width: 100%;
  border: none;
  margin-bottom: 14px;
  border-radius: 30px;
  color: #fff;
  padding: 14px 13px 12px 13px;
  font-size: 14px;
}

.social-account-create .btn.fb-btn {
  background: #3B5998 url("../img/facebook-icon.svg") no-repeat 21px center !important;
  background-size: 15px !important;
}

@media (min-width: 576px) {
  .social-account-create .btn.fb-btn {
    font-size: 17px;
  }
}

.social-account-create .btn.tw-btn {
  background: #1DA1F2 url("../img/twitter-icon.svg") no-repeat 18px 14px !important;
  background-size: 26px !important;
}

@media (min-width: 576px) {
  .social-account-create .btn.tw-btn {
    font-size: 17px;
  }
}

.social-account-create .btn.gl-btn {
  background: #DB6F4F url("../img/google-icon.svg") no-repeat 15px center !important;
  background-size: 26px !important;
}

@media (min-width: 576px) {
  .social-account-create .btn.gl-btn {
    font-size: 17px;
  }
}

.social-account-create .btn.email-btn {
  background: #fff;
  border: solid 2px #D0D4E0;
  color: #0F0404;
}

@media (min-width: 576px) {
  .social-account-create .btn.email-btn {
    font-size: 17px;
  }
}

.social-account-create,
.email-account-login,
.login-welcome-box {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px 0 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 576px) {
  .social-account-create,
  .email-account-login,
  .login-welcome-box {
    width: 460px;
    padding: 30px;
  }
}

/* --------------- Animating Boxes ----------------- */
.social-account-create {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 95px;
}

.social-account-create.show {
  opacity: 1;
  top: 122px;
  z-index: 1;
}

.email-account-login {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 95px;
}

.email-account-login.show {
  opacity: 1;
  top: 122px;
  z-index: 1;
}

.login-welcome-box {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  top: 95px;
}

.login-welcome-box.show {
  opacity: 1;
  top: 122px;
  z-index: 1;
}

.menu-link {
  width: 66px;
  height: 70px;
  position: absolute;
  right: 0;
  top: -59px;
  text-align: center;
  padding-top: 23px;
  font-size: 22px;
}

@media (min-width: 768px) {
  .menu-link {
    top: -15px;
  }
}

.menu-link .icon-main-menu-icon {
  font-size: 19;
}

/* --------------- Mobile Menu --------------------- */
.mobile-menu {
  background: #EB7B09;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding: 30px;
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.mobile-menu .close-menu {
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 1;
  right: 27px;
  top: 23px;
  text-align: right;
  font-size: 22px;
  opacity: 0.8;
}

.mobile-menu .mobile-menu-header {
  border-bottom: 3px solid #FE9B36;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.mobile-menu .mobile-menu-header .profile-picture {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  border: solid 4px #FE9B36;
  position: absolute;
  top: 15px;
  overflow: hidden;
}

.mobile-menu .mobile-menu-header .profile-picture img {
  width: 100%;
}

.mobile-menu .mobile-menu-header .profile-name {
  font-size: 21px;
  font-weight: 600;
  padding-left: 94px;
}

.mobile-menu .mobile-menu-header .profile-edit-link {
  padding-left: 94px;
  font-size: 12px;
  padding-top: 4px;
  color: #fff;
}

.mobile-menu .mobile-menu-header .profile-edit-link span {
  margin: 5px;
}

.mobile-menu .mobile-menu-links {
  border-bottom: 3px solid #FE9B36;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.mobile-menu .mobile-menu-balance {
  text-align: center;
}

.mobile-menu .mobile-menu-balance .available-balance {
  font-size: 14px;
  margin-bottom: 15px;
}

.mobile-menu .mobile-menu-balance .available-balance strong {
  font-size: 20px;
}

.mobile-menu .mobile-menu-balance button.btn-white {
  font-size: 15px;
  color: #EB7B09;
  background: #fff;
  -webkit-box-shadow: 0px 0px 16px #00000029;
          box-shadow: 0px 0px 16px #00000029;
  border: none;
}

.mobile-menu .mobile-menu-balance button.btn-white span::before {
  font-size: 19px;
  margin: 7px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
}

.mobile-menu ul li a {
  color: #fff;
}

.mobile-menu ul li a span {
  margin: 8px 8px 4px 0;
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  font-weight: 500;
  font-size: 22px;
}

/* --------------- Forms --------------------------- */
.form-control {
  border-radius: 8px;
  line-height: 2.2;
}

@media (min-width: 576px) {
  .form-control {
    line-height: 2.5;
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary {
  color: #fff;
  background-color: #E95106;
  border-color: #E95106;
  line-height: 2.2;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}

.btn-primary:hover {
  background: #E97706;
  border-color: #E97706;
}

.btn-primary.w-100 {
  width: 100%;
}

label {
  font-weight: 500;
  margin-bottom: .2rem;
}

.btn.focus, .btn:focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.d1 {
  background: lightblue;
}

.d2 {
  background: lightgrey;
}

.d3 {
  background: lightskyblue;
}

.d4 {
  background: lightsalmon;
}

.d5 {
  background: lightpink;
}
/*# sourceMappingURL=main.css.map */