
/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #E95106;
    &:hover {
        text-decoration: none;
        color: #E99206;
    }
}

/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/

