/* --------------- Login --------------------------- */

.login-box {
    padding: 30px 0 0 0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    @media (min-width: 576px) {
        padding: 30px 0 0 0;
    }

    @media (min-width: 576px) {
        font-size: 15px;
    }

    h4 {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 17px;
        @media (min-width: 576px) {
            font-size: 20px;
        }
    }
    .logo img{
        width: 180px; 
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        @media (min-width: 576px) {
            width: 220px;
        }
    }
    .or {
        text-align: center;
        border-bottom: solid 1px #D3D3D3;
        margin-bottom: 27px;
        height: 14px;
        span {
            background: #fff;
            width: 30px;
            padding: 5px 10px;
        }
    }
}

.forgot-password {
    margin-top: -10px;
    display: block;
    margin-bottom: 15px;
}

.social-account-create {
    .btn {
        width: 100%;
        border: none;
        margin-bottom: 14px;
        border-radius: 30px;
        color: #fff;
        padding: 14px 13px 12px 13px;
        font-size: 14px;
        &.fb-btn {
            background: #3B5998 url("../img/facebook-icon.svg") no-repeat 21px center !important;
            background-size: 15px !important;
            @media (min-width: 576px) {
                font-size: 17px;
            }
        }
        &.tw-btn {
            background: #1DA1F2 url("../img/twitter-icon.svg") no-repeat 18px 14px !important;
            background-size: 26px !important;
            @media (min-width: 576px) {
                font-size: 17px;
            }
        }
        &.gl-btn {
            background: #DB6F4F url("../img/google-icon.svg") no-repeat 15px center !important;
            background-size: 26px !important;
            @media (min-width: 576px) {
                font-size: 17px;
            }
        }
        &.email-btn {
            background: #fff;
            border: solid 2px #D0D4E0;
            color: #0F0404;
            @media (min-width: 576px) {
                font-size: 17px;
            }
        }
    }
}


.social-account-create,
.email-account-login,
.login-welcome-box
{
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px 0 30px;
    transition: all 0.5s ease;
    @media (min-width: 576px) {
        width: 460px;
        padding: 30px;
    }
    
}

/* --------------- Animating Boes ------------------ */
.social-account-create { 
    background: #fff;  
    position: absolute;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    top: 95px;
    &.show {
        opacity: 1;
        top: 122px;
        z-index: 1;
    }
}

.email-account-login {                 
    background: #fff;     
    position: absolute;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    top: 95px;
    &.show {
        opacity: 1;
        top: 122px;
        z-index: 1;
    }
}

.login-welcome-box {           
    background: #fff;  
    position: absolute;
    transition: all 0.2s ease;
    opacity: 0;
    top: 95px;
    &.show {
        opacity: 1;
        top: 122px;
        z-index: 1;
    }
}