body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

a {
  color: #E95106;
}

a:hover {
  text-decoration: none;
  color: #E99206;
}

/* --------------- Login --------------------------- */
.login-box {
  padding: 30px 0 0 0;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

@media (min-width: 576px) {
  .login-box {
    padding: 30px 0 0 0;
  }
}

@media (min-width: 576px) {
  .login-box {
    font-size: 15px;
  }
}

.login-box h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 17px;
}

@media (min-width: 576px) {
  .login-box h4 {
    font-size: 20px;
  }
}

.login-box .logo img {
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  .login-box .logo img {
    width: 220px;
  }
}

.login-box .or {
  text-align: center;
  border-bottom: solid 1px #D3D3D3;
  margin-bottom: 27px;
  height: 14px;
}

.login-box .or span {
  background: #fff;
  width: 30px;
  padding: 5px 10px;
}

.forgot-password {
  margin-top: -10px;
  display: block;
  margin-bottom: 15px;
}

.social-account-create .btn {
  width: 100%;
  border: none;
  margin-bottom: 14px;
  border-radius: 30px;
  color: #fff;
  padding: 14px 13px 12px 13px;
  font-size: 14px;
}

.social-account-create .btn.fb-btn {
  background: #3B5998 url("../img/facebook-icon.svg") no-repeat 21px center !important;
  background-size: 15px !important;
}

@media (min-width: 576px) {
  .social-account-create .btn.fb-btn {
    font-size: 17px;
  }
}

.social-account-create .btn.tw-btn {
  background: #1DA1F2 url("../img/twitter-icon.svg") no-repeat 18px 14px !important;
  background-size: 26px !important;
}

@media (min-width: 576px) {
  .social-account-create .btn.tw-btn {
    font-size: 17px;
  }
}

.social-account-create .btn.gl-btn {
  background: #DB6F4F url("../img/google-icon.svg") no-repeat 15px center !important;
  background-size: 26px !important;
}

@media (min-width: 576px) {
  .social-account-create .btn.gl-btn {
    font-size: 17px;
  }
}

.social-account-create .btn.email-btn {
  background: #fff;
  border: solid 2px #D0D4E0;
  color: #0F0404;
}

@media (min-width: 576px) {
  .social-account-create .btn.email-btn {
    font-size: 17px;
  }
}

.social-account-create,
.email-account-login,
.login-welcome-box {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px 0 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 576px) {
  .social-account-create,
  .email-account-login,
  .login-welcome-box {
    width: 460px;
    padding: 30px;
  }
}

/* --------------- Animating Boxes ----------------- */
.social-account-create {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 95px;
}

.social-account-create.show {
  opacity: 1;
  top: 122px;
  z-index: 1;
}

.email-account-login {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  top: 95px;
}

.email-account-login.show {
  opacity: 1;
  top: 122px;
  z-index: 1;
}

.login-welcome-box {
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  top: 95px;
}

.login-welcome-box.show {
  opacity: 1;
  top: 122px;
  z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #F6F6F6;
}

a {
  color: #E95106;
}

a:hover {
  text-decoration: none;
  color: #E99206;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1470px !important;
  }
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px 3px 36px #00000010;
          box-shadow: 0px 3px 36px #00000010;
  padding: 13px 15px;
  /*13px 30px */
}

@media (min-width: 768px) {
  .header {
    height: 98px;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 105px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}

.profile-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  -webkit-box-shadow: 0px 0px 12px #00000014;
          box-shadow: 0px 0px 12px #00000014;
}

.profile-box .profile-name {
  font-size: 18px;
  font-weight: 500;
}

.profile-picture {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 13px;
}

.profile-picture img {
  width: 100%;
}

.available-balance {
  color: #707070;
  font-size: 16px;
}

@media (min-width: 960px) {
  .available-balance {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .available-balance {
    font-size: 20px;
  }
}

.available-balance strong {
  font-size: 18px;
  color: #E14E0E;
}

@media (min-width: 992px) {
  .available-balance strong {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .available-balance strong {
    font-size: 25px;
  }
}

.logo {
  width: 122px;
}

@media (min-width: 576px) {
  .logo {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 170px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 200px;
  }
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
}

.main-content {
  padding: 15px;
  /*  */
}

@media (min-width: 1200px) {
  .main-content {
    padding: 30px;
    padding-top: 130px;
  }
}

.profile-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 100px;
  top: 15px;
}

.profile-link {
  background: #ccc;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  overflow: hidden;
  display: none;
}

@media (min-width: 768px) {
  .profile-link {
    display: block;
    top: 11px;
  }
}

.profile-link img {
  width: 100%;
}

/* --------------- Titles -------------------------- */
h1 {
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/
/* font-family: 'Montserrat', sans-serif; */
.menu-link {
  width: 66px;
  height: 70px;
  position: absolute;
  right: 0;
  top: -59px;
  text-align: center;
  padding-top: 23px;
  font-size: 22px;
}

@media (min-width: 576px) {
  .menu-link {
    top: -68px;
  }
}

@media (min-width: 768px) {
  .menu-link {
    top: -3px;
  }
}

.menu-link .icon-main-menu-icon {
  font-size: 19;
  color: #838383;
}

/* --------------- Mobile Menu --------------------- */
.mobile-menu {
  background: #EB7B09;
  color: #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding: 30px;
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.mobile-menu .close-menu {
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 1;
  right: 27px;
  top: 23px;
  text-align: right;
  font-size: 22px;
  opacity: 0.8;
}

.mobile-menu .mobile-menu-header {
  border-bottom: 3px solid #FE9B36;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.mobile-menu .mobile-menu-header .profile-picture {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  border: solid 4px #FE9B36;
  position: absolute;
  top: 15px;
  overflow: hidden;
}

.mobile-menu .mobile-menu-header .profile-picture img {
  width: 100%;
}

.mobile-menu .mobile-menu-header .profile-name {
  font-size: 21px;
  font-weight: 600;
  padding-left: 94px;
}

.mobile-menu .mobile-menu-header .profile-edit-link {
  padding-left: 94px;
  font-size: 12px;
  padding-top: 4px;
  color: #fff;
}

.mobile-menu .mobile-menu-header .profile-edit-link span {
  margin: 5px;
}

.mobile-menu .mobile-menu-links {
  border-bottom: 3px solid #FE9B36;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.mobile-menu .mobile-menu-balance {
  text-align: center;
}

.mobile-menu .mobile-menu-balance .available-balance {
  font-size: 14px;
  margin-bottom: 15px;
}

.mobile-menu .mobile-menu-balance .available-balance strong {
  font-size: 20px;
}

.mobile-menu .mobile-menu-balance button.btn-white {
  font-size: 15px;
  color: #EB7B09;
  background: #fff;
  -webkit-box-shadow: 0px 0px 16px #00000029;
          box-shadow: 0px 0px 16px #00000029;
  border: none;
}

.mobile-menu .mobile-menu-balance button.btn-white span::before {
  font-size: 19px;
  margin: 7px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
}

.mobile-menu ul li a {
  color: #fff;
}

.mobile-menu ul li a span {
  margin: 8px 8px 4px 0;
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  font-weight: 500;
  font-size: 22px;
}

/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
*/
/* --------------- Product Item -------------------- */
/*  transition: all 0.2s ease; */
.product-description {
  padding: 20px;
}

/*---------------- Grid Layout ----------------------*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(148px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  grid-gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (min-width: 487px) {
  .grid {
    -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

@media (min-width: 992px) {
  .grid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (min-width: 1200px) {
  .grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 1287px) and (max-width: 1399px) {
  .grid {
    -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}

@media (min-width: 1400px) {
  .grid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.grid > article img {
  max-width: 100%;
}

.product-item {
  -webkit-box-shadow: 0px 3px 16px #00000008;
          box-shadow: 0px 3px 16px #00000008;
  border-radius: 19px;
  background: #fff;
  overflow: hidden;
  color: #585858;
}

.product-progress {
  background: #F9F9F9;
  padding: 15px;
  text-align: center;
  color: #E14E0E;
  font-size: 17px;
}

.product-progress strong {
  font-size: 19px;
}

.product-name {
  font-weight: bold;
  font-size: 17px;
}

/* --------------- Forms --------------------------- */
.form-control {
  border-radius: 8px;
  line-height: 2.2;
}

@media (min-width: 576px) {
  .form-control {
    line-height: 2.5;
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary {
  color: #fff;
  background-color: #E95106;
  border-color: #E95106;
  line-height: 2.2;
  font-size: 18px;
  font-weight: 500;
  padding-top: 8px;
}

.btn-primary:hover {
  background: #E97706;
  border-color: #E97706;
}

.btn-primary.w-100 {
  width: 100%;
}

label {
  font-weight: 500;
  margin-bottom: .2rem;
}

.btn.focus, .btn:focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.filters-wrapper {
  display: none;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .filters-wrapper {
    display: block;
  }
}

@media (min-width: 1200px) {
  .filters-wrapper {
    /*position: fixed;*/
  }
}

.filters-wrapper li {
  margin-bottom: 8px;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 0;
  cursor: pointer;
  line-height: 30px;
  display: inline-block;
  color: #666;
  background: #fff;
  width: 100%;
  padding: 8px 16px;
  border: solid 1px #D8D8D8;
  border-radius: 8px;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  right: 9px;
  top: 9px;
  width: 28px;
  height: 28px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 6px;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #EB7B09;
  position: absolute;
  top: 15px;
  border-radius: 4px;
  right: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*---------- Debuggind Styles ---------------*/
.d1 {
  background: lightblue;
}

.d2 {
  background: lightgrey;
}

.d3 {
  background: lightskyblue;
}

.d4 {
  background: lightsalmon;
}

.d5 {
  background: lightpink;
}
/*# sourceMappingURL=main.css.map */