/* --------------- Forms --------------------------- */
.form-control {
    border-radius: 8px;
    line-height: 2.2;
    @media (min-width: 576px) {
        line-height: 2.5;
    }  
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 8px;
}
.btn-primary {
    color: #fff;
    background-color: #E95106;
    border-color: #E95106;
    line-height: 2.2;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;

    &:hover {
        background: #E97706;
        border-color: #E97706;
    }
    &.w-100  {
        width: 100%;
    }
}
label {
    font-weight: 500;
    margin-bottom: .2rem;
}
.btn.focus, .btn:focus, .form-control:focus {
    outline: 0;
    box-shadow: none !important;
}