@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7nyi9b');
  src:  url('fonts/icomoon.eot?7nyi9b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7nyi9b') format('truetype'),
    url('fonts/icomoon.woff?7nyi9b') format('woff'),
    url('fonts/icomoon.svg?7nyi9b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-icon:before {
  content: "\e90a";
}
.icon-exit-icon:before {
  content: "\e905";
}
.icon-home-icon:before {
  content: "\e906";
}
.icon-raffle-icon:before {
  content: "\e907";
}
.icon-referrals-icon:before {
  content: "\e908";
}
.icon-wallet-icon:before {
  content: "\e909";
}
.icon-credit-card:before {
  content: "\e900";
}
.icon-filter-icon:before {
  content: "\e901";
}
.icon-like-icon:before {
  content: "\e902";
}
.icon-main-menu-icon:before {
  content: "\e903";
}
.icon-white-arrow:before {
  content: "\e904";
}
