body {
    font-family: 'Montserrat', sans-serif;
    background: #F6F6F6;
}

a {
    color: #E95106;
    &:hover {
        text-decoration: none;
        color: #E99206;
    }
}

.text-orange {
    color: #E95106;
}

@media (min-width: 1200px){
    .container {
        max-width: 1470px !important;
    }
}

.header {
    background: #fff;
    box-shadow: 0px 3px 36px #00000010;
    padding: 13px 15px;  
    @media (min-width: 768px){
        height: 98px;
    }
    @media (min-width: 1200px){
        height: 105px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
}

.shadow-box {
    box-shadow: 0px 3px 6px #0000000F;
    background: #fff;
    padding: 26px;
    border-radius: 10px;
}

.desktop-shadow-box {
    padding: 0;
    box-shadow: none;
    background: none;
    @media (min-width: 576px){
        box-shadow: 0px 3px 6px #0000000F;
        background: #fff;
        padding: 26px;
        border-radius: 10px;
    }
}

.h-100 {
    height: 100%;
}

.profile-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 12px #00000014;
    .profile-name {
        font-size: 18px;
        font-weight: 500;
    }
}

.profile-picture {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 13px;
    img {
        width: 100%;
    }
}


.available-balance {
    color: #707070;
    font-size: 16px;
    @media (min-width: 960px){
        font-size: 19px;
    }
    @media (min-width: 1200px){
        font-size: 16px;
    }
    strong {
        font-size: 18px;
        color: #E14E0E;
        @media (min-width: 992px){
            font-size: 20px;
        }
        @media (min-width: 1200px){
            font-size: 22px;
        }
    }
}

.logo {
    width: 122px;
    @media (min-width: 576px) {
        width: 150px;
    }
    @media (min-width: 768px){
        width: 150px;
        margin-top: 5px;
    }
    @media (min-width: 1200px){   
        width: 200px;
    }
    
}
.hide-on-mobile {
    display: none;
    @media (min-width: 768px){
        display: block;
    }
}

.main-content {
    padding: 15px;  /*  */
    @media (min-width: 1200px){   
        padding: 30px; 
        padding-top: 130px;
    }
}

.profile-menu {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 70px;
    top: 15px;
}

.profile-link {
    background: #ccc;
    
    width: 45px;
    height: 45px;
    border-radius: 30px;
    overflow: hidden;
    display: none;
    @media (min-width: 768px){
        display: block;
        top: 11px;
    }
    img {
        width: 100%;
    }
}


/* ---------------------------- Titles -----------------------------*/
h1 {
    font-size: 26px;
    font-weight: 600;
    @media (max-width: 768px){
        font-size: 19px;
    }
}


h1.center {
    text-align: center;
    font-size: 19px;
}


h2 {
    font-size: 17px;
    font-weight: 600;
}
h3 {
    font-size: 16px;
    font-weight: 600;
    @media (min-width: 768px){
        font-size: 20px; 
    }
}

h4 {
    font-size: 20px;
    font-weight: 600;
    @media (max-width: 768px) { 
        font-size: 16px;
    }
}


p {
    font-size: 14px;
    @media (min-width: 768px){
        font-size: 15px;
    }
}

/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/

/* font-family: 'Montserrat', sans-serif; */

.bigger-text {
    font-size: 33px;
    color: #E14E0E;
}

.border-bottom {
    border-bottom: 2px solid #DEDEDE !important;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.sidebar-box {
    background: #fff;
    border: solid 1px #D8D8D8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.commission-list {
    list-style:none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    li {
        border-bottom: 1px solid #D9D9D9;
        padding:8px 0;
        overflow:hidden;
        .name{
            float:left; 
            width: 80%;
        }
        .percent{ 
            float:right;
            width: 20%;
            @media (min-width: 768px){
                text-align: right;
            }
        }
        &:last-child{
            border-bottom: none;;
        }
    }
}

/* ---------- REFERIDOS -----------*/
.referred-person {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #0000000F;
    position: relative;
    z-index: 5;
    .referred-person-info {
        text-align: center;
        @media (min-width: 768px){
            text-align: left;
            display: flex!important;
            -webkit-box-align: center!important;
            -ms-flex-align: center!important;
            align-items: center!important;   
        }
    }
    &.child {
        position: relative;
        margin-left: 15%;
        position: relative;
        z-index: 4;
        &::before {
            content: "";
            width: 25px;
            height: 210px;
            position: absolute;
            left: -25px;
            top: -116px;
            z-index: 2;
            border-left: solid 3px #D9D9D9;
            border-bottom: solid 3px #D9D9D9;
        }
        .referred-name {
            font-size: 13px;
        }
    }
    &.grandson {
        position: relative;
        margin-left: 25%;
        position: relative;
        z-index: 3;
        &::before {
            content: "";
            width: 16px;
            height: 155px;
            position: absolute;
            left: -16px;
            top: -54px;
            z-index: 2;
            border-left: solid 3px #D9D9D9;
            border-bottom: solid 3px #D9D9D9;
        }
        .referred-name {
            font-size: 13px;
        }
    }
}

.referred-name {
    font-weight: bold;
    color: #585858;
}

.referred-raffle-history,
.referral-date {
    font-size: 13px;
}

@media (min-width: 1200px) { 
    .referral-date {
        font-size: 13px;
        position: absolute;
        right: 65px;
        top: 45%;
    }
}

.referred-picture {
    width: 93px;
    height: 93px;
    background: #ccc;
    border-radius: 50%;
    border: solid 3px #E8E8E8;
    margin: 0 auto;
    @media (min-width: 768px){
        margin: 0;
        margin-right: 20px;
    }
    span {
        border: solid 2px #fff;
        display: block;
        width: 87px;
        height: 87px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

/* ---------- REFERIDOS -----------*/
.opportunity-bought {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px #0000000F;
    position: relative;
    z-index: 5;
    .opportunity-points {
        font-weight: bold;
        margin-top: 10px;
        color: #E14E0E;
        @media (min-width: 768px){
            margin-top: 0;
        }
    }
    h3 {
        margin: 0;
        font-size: 15px;
        @media (min-width: 768px){
            font-size: 16px;
        }
    }
    .opportunity-info {
        @media (min-width: 768px){
            text-align: left;
            display: flex!important;
            -webkit-box-align: center!important;
            -ms-flex-align: center!important;
            align-items: center!important;   
        }
    }
    .referred-raffle-history{
        font-size: 13px;
    }
    .opportunity-bought-date  {
        font-size: 15px;
        margin-top: 10px;
    }
    @media (min-width: 1200px) { 
        .opportunity-bought-date  {
            font-size: 15px;
            position: absolute;
            right: 25px;
            top: 45%;
            margin-top: 0;
        }
    }
}

 .opportunity-picture {
    width: 116px;
    height: 93px;
  
    @media (min-width: 768px){
        margin: 0;
        margin-right: 20px;
    }
    span {
        border: solid 2px #fff;
        display: block;
        width: 116px;
        height: 87px;
        border-radius: 9px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}




.show-hide-icon {
    width: 29px;
    height: 29px;
    background: url("../img/plus-icon.svg") no-repeat center center;
    background-size: 21px;
    position: absolute;
    right: 10px;
    top: 10px; 
    &.open {
        transform: rotate(45deg);
    }
    @media (min-width: 992px){
        top: 55px;
        background-size: 25px;
    }
}
    
.welcome-guest{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 6px #0000000f;
    box-shadow: 0px 3px 6px #0000000f;
    position: relative;
    text-align: center;
    padding: 30px 20px;
    margin: 0 auto;
    width: 539px;

    .btn-primary {
        padding: 8px 32px;
    }
    h4 {
        margin-bottom: 0;
    }

    .referred-picture {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

footer {
    font-size: 13px;
    text-align: center;
    @media (min-width: 992px){
        font-size: 14px;
        text-align: left;
    }
}

.hide-on-tablets {
    display: none;
    @media (min-width: 992px){
        display: block;
    }
}

.hide-on-desktop {
    @media (min-width: 992px){
        display: none;
    }
}

.hide-on-mobile {
    @media (max-width: 992px){
        display: none;
    }
}

.filters-wrapper {
    h3 {
        font-size: 15px;
    }
}




.shadow-box {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 3px 6px #0000000f;
    box-shadow: 0px 3px 6px #0000000f;
    position: relative;
    z-index: 5;
}

.single-go-back {
    margin: 15px 15px 20px 0;
    float: left;
    margin-top: -20px;
}


.back-and-next {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    .go-back {
        float: left;
        padding: 18px;
    }
    .go-next {
        float: right;
        padding: 18px;
    }
}



.gray-bg {
    background: #F8F8FA;
}

.radius-10 {
    border-radius: 10px;
}




.btn.pusha-panel__close {
    z-index: 9;
    position: absolute;
    right: 20px;
    background: transparent;
    .icon-close-icon {
        font-size: 24px;
        color: #fff;
    }
}