body {
    font-family: 'Montserrat', sans-serif;
    background: #F6F6F6;
}

a {
    color: #E95106;
    &:hover {
        text-decoration: none;
        color: #E99206;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1470px !important;
    }
}

.header {
    background: #fff;
    box-shadow: 0px 3px 36px #00000010;
    padding: 13px 15px;   /*13px 30px */
}

.logo {
    width: 122px;
}
.hide-on-mobile {
    display: none;
    @media (min-width: 768px){
        display: block;
    }
}

.main-content {
    padding: 15px;  /* padding: 30px;  */
}

.profile-link {
    background: #ccc;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    overflow: hidden;
    right: 100px;
    top: 0;
    display: none;
    @media (min-width: 768px){
        display: block;
    }
    img {
        width: 100%;
    }
}

/* --------------- Titles -------------------------- */

h1 {
    font-size: 18px;
    font-weight: 600;
}
h2 {
    font-size: 17px;
    font-weight: 600;
}
h3 {
    font-size: 16px;
    font-weight: 600;
}


/* --------------- Product Item -------------------- */
.products-wrapper {
    margin-left: -8%;
    float: left;
    @media (min-width: 992px){
        margin-left: -30px;
    }
    @media (min-width: 576px){
        margin-left: -5%;
    }
    @media (min-width: 992px){
        margin-left: -3%;
    }

}


.product-item {
    transition: all 0.2s ease;
    width: 42%;
    float: left;
    margin: 15px 0 6px 8%;
    transition: all 0.2s ease;

    @media (min-width: 576px){    
        width: 28%;              
        margin: 15px 0 6px 5%;
        
    }
    @media (min-width: 768px){                      background: lightgreen;
        width: 144px;                           

        /* 151  colocar esto cuando existan 2 columnas */

    }
    @media (min-width: 992px){
        width: 22%;                           
        margin: 15px 0 15px 3%;                     background: pink;
    }

    @media (min-width: 1200px){
        width: 210px;                           
        margin: 15px 0 15px 30px;                   background: lightcyan;
    }


    .product-item-picture {
        width: 100%;
        padding-top: 90%;
        border-radius: 10px;
        background: #ccc;
        margin-bottom: 10px;
    }
    .product-item-name {
        color: #000;
        font-size: 12px;
        font-weight: 500;
    }
    .product-item-progress {
        font-size: 14px;
        color: #E14E0E;
    }
}



/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/

/* font-family: 'Montserrat', sans-serif; */






img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid red;
  //border-radius: 1rem;
  color: green;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

