.filters-wrapper {
    display: none;
    padding-right: 30px;
    @media (min-width: 768px){      
        display: block
    }
    @media (min-width: 1200px){      
        /*position: fixed;*/
    }
}

.filters-wrapper {
    li {
        margin-bottom: 8px;
    }
}

.clear-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 0;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
    background: #fff;
    width: 100%;
    padding: 8px 16px;
    border: solid 1px #D8D8D8;
    border-radius: 8px;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    right: 9px;
    top: 9px;
    width: 28px;
    height: 28px;
    border: 2px solid #ddd;
    background: #fff;
    border-radius: 6px;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #EB7B09;
    position: absolute;
    top: 15px;
    border-radius: 4px;
    right: 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}