
/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... }
*/

/* --------------- Product Item -------------------- */

/*  transition: all 0.2s ease; */

.product-description {
  padding: 20px;
}

/*---------------- Grid Layout ----------------------*/

.grid {        
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
    @media (min-width: 487px){ 
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
    @media (min-width: 992px){   
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @media (min-width: 1200px){   
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (min-width: 1287px) and (max-width: 1399px){   
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
    @media (min-width: 1400px){   
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    
    > article img {
      max-width: 100%;
    }
  }

.product-item {
  box-shadow: 0px 3px 16px #00000008;
  border-radius: 19px;
  background: #fff;
  overflow: hidden;
  color: #585858;
}
.product-progress {
  background: #F9F9F9;
  padding: 15px;
  text-align: center;
  color: #E14E0E;
  font-size: 17px;
  strong {
    font-size: 19px;
  }
}
.product-name {
  font-weight: bold;
  font-size: 17px;
}

  