body {
    font-family: 'Montserrat', sans-serif;
    background: #F6F6F6;
}

a {
    color: #E95106;
    &:hover {
        text-decoration: none;
        color: #E99206;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1470px !important;
    }
}

.header {
    background: #fff;
    box-shadow: 0px 3px 36px #00000010;
    padding: 13px 15px;   /*13px 30px */
    @media (min-width: 768px){
        height: 98px;
    }
    @media (min-width: 1200px){
        height: 105px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
}

.profile-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 12px #00000014;
    .profile-name {
        font-size: 18px;
        font-weight: 500;
    }
}

.profile-picture {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 13px;
    img {
        width: 100%;
    }
}


.available-balance {
    color: #707070;
    font-size: 16px;
    @media (min-width: 960px){
        font-size: 19px;
    }
    @media (min-width: 1200px){
        font-size: 20px;
    }
    strong {
        font-size: 18px;
        color: #E14E0E;
        @media (min-width: 992px){
            font-size: 20px;
        }
        @media (min-width: 1200px){
            font-size: 25px;
        }
    }
}

.logo {
    width: 122px;
    @media (min-width: 576px) {
        width: 150px;
    }
    @media (min-width: 768px){
        width: 170px;
    }
    @media (min-width: 1200px){   
        width: 200px;
    }
    
}
.hide-on-mobile {
    display: none;
    @media (min-width: 768px){
        display: block;
    }
}

.main-content {
    padding: 15px;  /*  */
    @media (min-width: 1200px){   
        padding: 30px; 
        padding-top: 130px;
    }
}

.profile-menu {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 100px;
    top: 15px;
}

.profile-link {
    background: #ccc;
    
    width: 45px;
    height: 45px;
    border-radius: 30px;
    overflow: hidden;
    display: none;
    @media (min-width: 768px){
        display: block;
        top: 11px;
    }
    img {
        width: 100%;
    }
}


/* --------------- Titles -------------------------- */

h1 {
    font-size: 18px;
    font-weight: 600;
}
h2 {
    font-size: 17px;
    font-weight: 600;
}
h3 {
    font-size: 16px;
    font-weight: 600;
    @media (min-width: 768px){
        font-size: 20px;
    }
}



/* 
@import "modules/nav";
@import "modules/buttons";
@import "modules/other";
@import "modules/tables";
*/

/* font-family: 'Montserrat', sans-serif; */



