.menu-link {
    width: 66px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -59px;
    @media (min-width: 768px) {
        top: -15px;
    }
    text-align: center;
    padding-top: 23px;
    font-size: 22px;
    .icon-main-menu-icon {
        font-size: 19
    }
}

/* --------------- Mobile Menu --------------------- */
.mobile-menu{  
    background: #EB7B09;
    color: #fff;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding: 30px;
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;

    .close-menu {
        width: 38px;
        height: 38px;
        position: absolute;
        z-index: 1;
        right: 27px;
        top: 23px;
        text-align: right;
        font-size: 22px;
        opacity: 0.8;
    }

    .mobile-menu-header {
        border-bottom: 3px solid #FE9B36;
        margin-bottom: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        .profile-picture {
            width: 80px;
            height: 80px;
            background: white;
            border-radius: 50%;
            border: solid 4px #FE9B36;
            position: absolute;
            top: 15px;
            overflow: hidden;
            img {
                width: 100%;;
            }
        }
        .profile-name {
            font-size: 21px;
            font-weight: 600;
            padding-left: 94px;
        }
        .profile-edit-link {
            padding-left: 94px;
            font-size: 12px;
            padding-top: 4px;
            color: #fff;
            span {
                margin: 5px;
            }
        }
    }
    .mobile-menu-links {
        border-bottom: 3px solid #FE9B36;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .mobile-menu-balance {
        text-align: center;
        .available-balance {
            font-size: 14px;
            margin-bottom: 15px;
            strong {
                font-size: 20px;
            }
        } 
        button.btn-white {
            font-size: 15px;
            color: #EB7B09;
            background: #fff;
            box-shadow: 0px 0px 16px #00000029;
            border:none;
            span {
                &::before {
                    font-size: 19px;
                    margin: 7px;
                }
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 10px;
        }
        li a {
            color: #fff;
            span {
                margin: 8px 8px 4px 0;
                width: 30px;
                display: inline-block;
                text-align: center;
                padding: 4px;
                font-weight: 500;
                font-size: 22px;
            }
        }
    }
}